.container {
    padding: 20px;
    border-radius: 10px;
    background-color: var(--bgSoft);
    display: flex;
    justify-content: space-between;
}

.title {
    
    font-weight: bold;
    color: var(--textSoft);
    text-transform: capitalize;
}

.search {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #2e374a;
    padding: 10px;
    border-radius: 10px;
}

.input {
    background-color: transparent;
    border: none;
    color: var(--textSoft);
    /* font-size: 1rem; */
    /* width: 100%; */
}